{% extends 'baseBack.html.twig' %}
{% block tiles %}

<title>Payment index</title>
{% endblock %}
{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.table2excel.min.js"></script>

<script>

$(function() {
        $("#exporttable").click(function(e){
          var table = $("#htmltable");
          if(table && table.length){
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: "PaymentList" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
              fileext: ".xls",
              exclude_img: true, 
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false
            });
          }
        });
        
      });

</script>



<style>

body{background-color: #f9f9fa}.flex{-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto}@media (max-width:991.98px){.padding{padding: 1.5rem}}@media (max-width:767.98px){.padding{padding: 1rem}}.padding{padding: 5rem}.card{box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none}.pl-3, .px-3{padding-left: 1rem !important}.card{position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid #d2d2dc;border-radius: 0}.card .card-title{color: #000000;margin-bottom: 0.625rem;text-transform: capitalize;font-size: 0.875rem;font-weight: 500}.card .card-description{margin-bottom: .875rem;font-weight: 400;color: #76838f}p{font-size: 0.875rem;margin-bottom: .5rem;line-height: .2rem}.table-responsive{display: block;width: 100%;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar}.table, .jsgrid .jsgrid-table{width: 100%;max-width: 100%;margin-bottom: 1rem;background-color: transparent}.table thead th, .jsgrid .jsgrid-table thead th{border-top: 0;border-bottom-width: 1px;font-weight: 500;font-size: .875rem;text-transform: uppercase}.table td, .jsgrid .jsgrid-table td{font-size: 0.875rem;padding: .875rem 0.9375rem}.badge{border-radius: 0;font-size: 12px;line-height: 1;padding: .375rem .5625rem;font-weight: normal}.btn{border-radius: 0}

</style>





<h1>Payment History</h1>
  

    


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Basic Table</h4>
                                <p class="card-description"> Basic table with card </p>
                            </div>
                            <div class="col-md-4 text-right">   <a class="btn btn-success" href="{{ path('app_payment_new') }}">Create new +</a> <button id="exporttable" class="btn btn-primary">Export</button>   </div>

                            
                        </div>
                        <div class="table-responsive">
                            <table id="htmltable" class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>ID No.</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                      {% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.id }}</td>
                                            <td>{{ payment.firstName }}</td>
                                            <td>{{ payment.lastName }}</td>
                                            <td>{{ payment.email }}</td>
                                            <td>{{ payment.paymentOptions }}</td>
                                            <td>{{ payment.date ? payment.date|date('Y-m-d') : '' }}</td>
                                            <td>{{ payment.amount }}</td>
                                            <td>


                                                {% if payment.paymentOptions is not null %}
                                                        {% if payment.paymentOptions == "online" %}
                                                            <td><label class="badge badge-success">Completed</label></td>
                                                        {% else %}
                                                            <td><label class="badge badge-warning">In progress</label></td>
                                                        {% endif %}
                                                    {% else %}
                                                        <td>No date provided</td>
                                                    {% endif %}


                                            </td>
                                            <td>
                                                <a href="{{ path('app_payment_show', {'id': payment.id}) }}">show</a>
                                                <a href="{{ path('app_payment_edit', {'id': payment.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">no records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
  <div>
                               
<label class="badge badge-success">Completed</label>
<label class="badge badge-warning">In progress</label>
  </div>
{% endblock %}  